name: Checks
on: [ push ]

jobs:
  tests:
    name: Run tests for Java ${{ matrix.version }}
    runs-on: arc-runners-small
    strategy:
      fail-fast: false
      matrix:
        version:
          - 17
          - 18
          - 19
          - 20
          - 21
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java ${{ matrix.version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '${{ matrix.version }}'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Run tests
        run: ./gradlew test --rerun-tasks --info
